almeria
<huevo-weather [icon]="almeria.icon" [temperature]="almeria.temperature"
               [humidity]="almeria.humidity" [windSpeed]="almeria.windSpeed"></huevo-weather>
granada
<huevo-weather [icon]="granada.icon" [temperature]="granada.temperature"
               [humidity]="granada.humidity" [windSpeed]="granada.windSpeed"></huevo-weather>
malaga
<huevo-weather [icon]="malaga.icon" [temperature]="malaga.temperature"
               [humidity]="malaga.humidity" [windSpeed]="malaga.windSpeed"></huevo-weather>
jaen
<huevo-weather [icon]="jaen.icon" [temperature]="jaen.temperature"
               [humidity]="jaen.humidity" [windSpeed]="jaen.windSpeed"></huevo-weather>
cordoba
<huevo-weather [icon]="cordoba.icon" [temperature]="cordoba.temperature"
               [humidity]="cordoba.humidity" [windSpeed]="cordoba.windSpeed"></huevo-weather>
sevilla
<huevo-weather [icon]="sevilla.icon" [temperature]="sevilla.temperature"
               [humidity]="sevilla.humidity" [windSpeed]="sevilla.windSpeed"></huevo-weather>
huelva
<huevo-weather [icon]="huelva.icon" [temperature]="huelva.temperature"
               [humidity]="huelva.humidity" [windSpeed]="huelva.windSpeed"></huevo-weather>
cadiz
<huevo-weather [icon]="cadiz.icon" [temperature]="cadiz.temperature"
               [humidity]="cadiz.humidity" [windSpeed]="cadiz.windSpeed"></huevo-weather>

<br>

Andalucía: {{getMean()}}ºC
